@using PagedList;
@using PagedList.Mvc;

@model List<TeamProject_Forum_ASP_NET.Entities.Category>

@{
    ViewBag.Title = "ListCategories";
}

@foreach (var category in Model)
{
    <ul class="nav nav-pills nav-stacked">
        <li>
            @Html.ActionLink(string.Format($"{category.Name}"), "ListQuestionsByCategory", "Home", new { categoryId = category.Id }, null)
        </li>
    </ul>
}


