@model List<TeamProject_Forum_ASP_NET.Entities.Question>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var question in Model)
        {
            <div class="col-sm-offset-2 col-sm-8">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@question.Title, "ViewAnswers", "Question", new { @id = question.Id }, null)
                        </h2>
                    </header>                    
                    <footer>
                        <small>
                            --author @question.Author.UserName
                        </small>
                        <small class="pull-right">@question.DateAdded</small>                        
                    </footer>
                </article>
            </div>
        }
    </div>
</div>